/// <base path="../puls.less"/>

.logo {
    &:hover {
        text-decoration: none;
    }

    img {
        height: 39px;
        vertical-align: top;
    }
}

.photo-widget {
    position: relative;

    span {
        display: none;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    &:hover span {
        display: block;
    }
}

.table-actions {
    td, th {
        vertical-align: middle !important;
    }

    .actions {
        width: 180px;
        text-align: center;
    }
}

.template {
    margin-bottom: 15px;
}

.thumbnail {
    text-align: center;
    font-size: 1.3em;
    a {
        display: block;
        img {
            height: 80px;

            @media (min-width: @screen-sm-min) {
                height: 100px;
            }
            @media (min-width: @screen-md-min) {
                height: 120px;
            }
            @media (min-width: @screen-lg-min) {
                height: 140px;
            }
        }
    }
}

table {
    .position {
        text-align: right;
        width: 50px;
    }
    .score {
        width: 200px;
    }
    .price {
        text-align: right;
    }
}