/// <base path="../puls.less"/>

.logo {
    &:hover {
        text-decoration: none;
    }

    img {
        height: 39px;
        vertical-align: top;
    }
}

.photo-widget {
    position: relative;

    span {
        display: none;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    &:hover span {
        display: block;
    }
}

.table-actions {
    td, th {
        vertical-align: middle !important;
    }

    .actions {
        width: 180px;
        text-align: center;
    }
}

.template {
    margin-bottom: 15px;
}

.thumbnail {
    text-align: center;
    font-size: 1.3em;
    a {
        display: block;
        height: 120px;
        position: relative;
        overflow: hidden;

        .caption {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        @media (min-width: @screen-sm-min) {
            height: 140px;
        }
        @media (min-width: @screen-md-min) {
            height: 160px;
        }
        @media (min-width: @screen-lg-min) {
            height: 180px;
        }

        img {
            margin-top: -20px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            max-height: 80px;

            @media (min-width: @screen-sm-min) {
                max-height: 100px;
            }
            @media (min-width: @screen-md-min) {
                max-height: 120px;
            }
            @media (min-width: @screen-lg-min) {
                max-height: 140px;
            }
        }
    }
}

table {
    .position {
        text-align: right;
        width: 50px;
    }
    .score {
        width: 200px;
    }
    .score-small {
        width: 100px;
    }
    .score .progress, .score-small .progress {
        margin-bottom: 0;
    }
    .price {
        text-align: right;
    }
    .buy {
        width: 120px;
        text-align: right;
    }
    .mid {
        vertical-align: middle !important;
    }
    .odd {
        background: #f9f9f9;
    }
}

.embed-frame {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}