{% extends "admin/base.html" %}

{% set active_page = "connectors" %}

{% block heading %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for("dashboard") }}">Admin</a></li>
        <li><a href="{{ url_for("manage_connectors") }}">Connectors</a></li>
        <li class="active">
            {% if item %}
                {{ item.name }}
                {% set action = url_for("edit_connector", id=item.id) %}
            {% else  %}
                New
                {% set action = url_for("add_connector") %}
            {% endif %}
        </li>
    </ol>
{% endblock %}

{% block contents %}
    <form action="{{ action }}"
          method="post"
          enctype="multipart/form-data"
          class="form-horizontal"
          role="form"
    >
        {{ form.csrf_token }}

        <div class="form-group
                    {% if form.name.errors %}has-error{% endif %}">
            <label class="col-sm-4 col-md-3 control-label"
                   for="{{ form.name. id }}">
                {{ form.name.label }}:
            </label>
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.name(class_="form-control") }}
                    </div>
                    <div class="col-md-6 help-block">
                        {% for message in form.name.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group
                    {% if form.description.errors %}has-error{% endif %}">
            <label class="col-sm-4 col-md-3 control-label"
                   for="{{ form.description.id }}">
                {{ form.description.label }}:
            </label>
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.description(class_="form-control", rows=6) }}
                    </div>
                    <div class="col-md-6 help-block">
                        {% for message in form.description.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group
                    {% if form.photo.errors %}has-error{% endif %}">
            <label class="col-sm-4 col-md-3 control-label"
                   for="{{ form.photo.id }}">
                {{ form.photo.label }}:
            </label>
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.photo(class_="form-control") }}
                    </div>
                    <div class="col-md-6 help-block">
                        {% for message in form.photo.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-md-offset-3
                        col-sm-8 col-md-9">
                <button type="submit"
                        class="btn btn-primary"
                >
                    <i class="glyphicon-pro glyphicon-pro-cloud-download"></i>&nbsp;
                    Save
                </button>&nbsp;
                <a class="btn btn-default"
                   href="{{ url_for("manage_connectors") }}"
                >
                    Cancel
                </a>
            </div>
        </div>
    </form>
{% endblock %}