<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#nav-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("dashboard") }}">
                <i class="glyphicon-pro glyphicon-pro-cardio"></i>&nbsp;
                <span class="hidden-sm">Puls</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="nav navbar-nav">
                <li{% if active_page == "components" %} class="active"{% endif %}
                >
                    <a href="{{ url_for("manage_components") }}">
                    <i class="glyphicon-pro glyphicon-pro-cogwheels"></i>&nbsp;
                    <span class="hidden-sm">Components</span>
                </a></li>
                <li{% if active_page == "benchmarks" %} class="active"{% endif %}
                >
                    <a href="{{ url_for("manage_benchmarks") }}">
                    <i class="glyphicon-pro glyphicon-pro-charts"></i>&nbsp;
                    <span class="hidden-sm">Benchmarks</span>
                </a></li>
                <li{% if active_page == "classes" %} class="active"{% endif %}
                >
                    <a href="{{ url_for("manage_classes") }}">
                    <i class="glyphicon-pro glyphicon-pro-folder-open"></i>&nbsp;
                    <span class="hidden-sm">Classes</span>
                </a></li>
                <li{% if active_page == "buses" %} class="active"{% endif %}
                >
                    <a href="{{ url_for("manage_buses") }}">
                    <i class="glyphicon-pro glyphicon-pro-link"></i>&nbsp;
                    <span class="hidden-sm">Buses</span>
                </a></li>
                <li{% if active_page == "targets" %} class="active"{% endif %}
                >
                    <a href="{{ url_for("manage_targets") }}">
                    <i class="glyphicon-pro glyphicon-pro-screenshot"></i>&nbsp;
                    <span class="hidden-sm">Targets</span>
                </a></li>
                <li{% if active_page == "manufacturers" %} class="active"{% endif %}
                >
                    <a href="{{ url_for("manage_manufacturers") }}">
                    <i class="glyphicon-pro glyphicon-pro-blacksmith"></i>&nbsp;
                    <span class="hidden-sm">Manufacturers</span>
                </a></li>
                <li{% if active_page == "suppliers" %} class="active"{% endif %}
                >
                    <a href="{{ url_for("manage_suppliers") }}">
                    <i class="glyphicon-pro glyphicon-pro-shopping-cart"></i>&nbsp;
                    <span class="hidden-sm">Suppliers</span>
                </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                    >
                        <i class="glyphicon-pro glyphicon-pro-user"></i>&nbsp;
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("account_settings") }}">
                            <i class="glyphicon glyphicon-wrench"></i>&nbsp;
                            Settings
                        </a></li>
                        <li><a href="{{ url_for("logout") }}"
                               class="confirm"
                               data-title="Confirm sign out"
                               data-content="Are you sure you want to sign out?">
                            <i class="glyphicon glyphicon-off"></i>&nbsp;
                            Sign out
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>