{% extends "app.html" %}

{% block title %}
    {% if album %}
        {{ album.name }}
    {% else %}
        Create album
    {% endif %} - MoarCofy
{% endblock %}

{% block heading %}
    <div class="col-xs-12">
        <h1>
            <a href="{{ url_for("album_list") }}">My albums</a>
            &raquo;
            {% if album %}
                {{ album.name }}
                <button class="pull-right btn btn-success btn-sm share-btn"
                        data-toggle="modal"
                        data-target="#share">
                    <i class="glyphicon glyphicon-share"></i>&nbsp;
                    Share album</button>
            {% else %}
                Create album
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    {{ javascript("upstream/jquery-ui") }}
    {{ javascript("album") }}

{% endblock %}

{% block contents %}
    {% if album %}
        <div class="modal fade"
             id="share"
             tabindex="-1"
             role="dialog"
             aria-labelledby="share-title"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="share-title">Share album</h4>
                    </div>
                    <div class="modal-body">
                        <p>To share this album with other people, give them the following link:</p>
                        <code>
                            <a href="{{ url_for("public_album", id=album.id|string) }}"
                               target="_blank">{{ url_for("public_album", id=album.id|string, _external=True) }}</a>
                        </code>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" role="form" method="post" 
                    {% if album %}
                        action="{{ url_for("edit_album", id=album.id|string) }}"
                    {% else %}
                        action="{{ url_for("add_album") }}"
                    {% endif %}
            >
                <div class="form-group
                            {% if form.name.errors %} has-error{% endif %}">
                    <label for="name"
                           class="col-sm-4 col-md-3 col-lg-2 control-label">Name:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               placeholder="A name for this album"
                               required="required"
                               value="{{ form.name.data or "" }}"/>
                        {% for error in form.name.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group
                            {% if form.description.errors %} has-error{% endif %}">
                    <label for="description"
                           class="col-sm-4 col-md-3 col-lg-2 control-label">Description:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <textarea class="form-control"
                                  id="description"
                                  name="description"
                                  placeholder="A couple of words about this album (optional)"
                        >{{ form.description.data or "" }}</textarea>
                        {% for error in form.description.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group
                            {% if form.photos.errors %} has-error{% endif %}">
                    <label class="col-sm-4 col-md-3 col-lg-2 control-label">Photos:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <div class="row photo-list">
                            {% for photo in album.photos %}
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 photo">
                                    <input type="hidden" name="photos" value="{{ photo.id|string }}"/>
                                    <div class="thin-thumbnail">
                                        <a class="square-thumb"
                                           href="{{ url_for("edit_photo", id=photo.id|string) }}"
                                           style="background-image: url('{{ photo.thumb_url }}')"
                                           title={{ photo.name }}
                                        ></a>
                                        <a href="#"
                                           onclick="$(this).parents('.photo').remove(); return false"
                                           class="remove"
                                           title="Remove photo from this album">&times;</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xs-12">
                                    <p class="alert alert-warning">You have not added any photos to this album yet. Why not <a href="{{ url_for("add_photo") }}">upload some?</a></p>
                                </div>
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>
                        {% for error in form.photos.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9 col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;
                                Save</button>
                        {% if album %}
                            <a class="btn btn-danger confirm"
                               data-title="Confirm delete"
                               data-content="Are you sure you want to delete this album?"
                               href="{{ url_for("delete_album", id=album.id|string) }}">
                                <i class="glyphicon glyphicon-trash"></i>&nbsp;
                                Delete</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}