{% extends "boilerplate.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            {% block heading %}
                <div class="col-xs-12">
                    <h1>
                        <a class="logo"
                            href="{{ url_for("home") }}">
                            <i class="glyphicon-pro glyphicon-pro-cardio"></i>&nbsp;
                            {{ self.title() }}
                        </a>
                    </h1>
                </div>
            {% endblock %}
            <div class="col-sm-6 col-sm-push-6
                        col-md-8 col-md-push-4
                        col-lg-9 col-lg-push-3">
                {% block contents %}{% endblock %}
            </div>
            <div class="col-sm-6 col-sm-pull-6
                        col-md-4 col-md-pull-8
                        col-lg-3 col-lg-pull-9">
                {% set active_page = active_page|default("") %}
                {% include "menu.html" %}
            </div>
        </div>
    </div>
    <hr/>
    <footer class="container">
        {% block footer %}
            Copyright &copy; 2014 Puls
        {% endblock %}
    </footer>
{% endblock %}