<ul class="nav nav-pills nav-stacked">
    <li{% if active_page == "home" %} class="active"{% endif %}>
        <a href="{{ url_for("home") }}">
            <i class="glyphicon-pro glyphicon-pro-settings"></i>&nbsp;
            Build a computer
        </a>
    </li>
    <li{% if active_page == "components" %} class="active"{% endif %}>
        <a href="{{ url_for("components") }}">
            <i class="glyphicon-pro glyphicon-pro-cogwheels"></i>&nbsp;
            Components
            <span class="badge pull-right">{{ component_count }}</span>
        </a>
    </li>
    <!--li{% if active_page == "benchmarks" %} class="active"{% endif %}>
        <a href="#">
            <i class="glyphicon-pro glyphicon-pro-charts"></i>&nbsp;
            Benchmarks
            <span class="badge pull-right">{{ benchmark_count }}</span>
        </a>
    </li-->
    <li{% if active_page == "manufacturers" %} class="active"{% endif %}>
        <a href="{{ url_for("manufacturer_index") }}">
            <i class="glyphicon-pro glyphicon-pro-blacksmith"></i>&nbsp;
            Manufacturers
            <span class="badge pull-right">{{ manufacturer_count }}</span>
        </a>
    </li>
    <li{% if active_page == "suppliers" %} class="active"{% endif %}>
        <a href="{{ url_for("supplier_index") }}">
            <i class="glyphicon-pro glyphicon-pro-shopping-cart"></i>&nbsp;
            Suppliers
            <span class="badge pull-right">{{ supplier_count }}</span>
        </a>
    </li>
    <li{% if active_page == "about" %} class="active"{% endif %}>
        <a href="{{ url_for("about") }}">
            <i class="glyphicon glyphicon-question-sign"></i>&nbsp;
            How does it work?
        </a>
    </li>
</ul>
