{% extends "admin/base.html" %}

{% block title %}
    {% if item %}
        {{ item.name }}
    {% else %}
        New meta
    {% endif %}
    - {{ cls.name }} - Puls
{% endblock %}

{% set active_page = "classes" %}

{% block heading %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for("dashboard") }}">Admin</a></li>
        <li><a href="{{ url_for("manage_classes") }}">Classes</a></li>
        <li><a href="{{ url_for("edit_class", id=cls.id) }}">{{ cls.name }}</a></li>
        <li><a href="{{ url_for("manage_class_meta", id=cls.id) }}">Metadata</a></li>
        {% if item %}
            {% set action = url_for("edit_class_meta", id=cls.id, name=item.name) %}
            <li class="active">{{ item.name }}</li>
        {% else %}
            {% set action = url_for("add_class_meta", id=cls.id) %}
            <li class="active">New</li>
        {% endif %}
    </ol>
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{{ url_for("edit_class", id=cls.id) }}">
            General
        </a></li>
        {% if item %}
            <li class="active"><a>
                Metadata
            </a></li>
            <li><a href="{{ url_for("add_class_meta", id=cls.id) }}">
                <i class="glyphicon-pro glyphicon-pro-circle-plus"></i>&nbsp;
                New meta entry
            </a></li>
        {% else %}
            <li><a href="{{ url_for("manage_class_meta", id=cls.id) }}">
                Metadata
            </a></li>
            <li class="active"><a>
                <i class="glyphicon-pro glyphicon-pro-circle-plus"></i>&nbsp;
                New meta entry
            </a></li>
        {% endif %}
    </ul>
    <br/>
{% endblock %}

{% block contents %}
    <form action="{{ action }}"
          method="post"
          enctype="multipart/form-data"
          class="form-horizontal"
          role="form"
    >
        {{ form.csrf_token }}
        <div class="form-group
                    {% if form.name.errors %}has-error{% endif %}">
            {{ form.name.label(class_="col-sm-4 col-md-3 control-label") }}
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.name(class_="form-control") }}
                    </div>
                    <div class="col-md-6 help-block">
                        {% for message in form.name.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group
                    {% if form.unit.errors %}has-error{% endif %}">
            {{ form.unit.label(class_="col-sm-4 col-md-3 control-label") }}
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.unit(class_="form-control") }}
                    </div>
                    <div class="col-md-6 help-block">
                        {% for message in form.unit.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group
                    {% if form.exponent.errors %}has-error{% endif %}">
            {{ form.exponent.label(class_="col-sm-4 col-md-3 control-label") }}
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.exponent(class_="form-control") }}
                    </div>
                    <div class="col-md-6 help-block">
                        {% for message in form.exponent.errors %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 col-md-3 control-label"><em>Target weights:</em></label>
        </div>

        {% for weight in form.weights %}
            <div class="form-group
                        {% if weight["value"].errors %}has-error{% endif %}">
                <input type="hidden"
                       name="{{ weight["target"].name }}"
                       value="{{ weight["target"].data.id }}"/>
                <label class="col-sm-4 col-md-3 control-label"
                       for="{{ weight["value"].id }}">{{ weight["target"].data.name }}</label>
                <div class="col-sm-8 col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            {{ weight["value"](class_="form-control") }}
                        </div>
                        <div class="col-md-6 help-block">
                            {% for message in weight["value"].errors %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <hr/>
        <div class="form-group">
            <div class="col-sm-offset-4 col-md-offset-3
                        col-sm-8 col-md-9">
                <button type="submit"
                        class="btn btn-primary"
                >
                    <i class="glyphicon-pro glyphicon-pro-cloud-download"></i>&nbsp;
                    Save
                </button>&nbsp;
                <a class="btn btn-default"
                   href="{{ url_for("manage_class_meta", id=cls.id) }}"
                >
                    Cancel
                </a>
            </div>
        </div>
    </form>
{% endblock %}