{% extends "admin/base.html" %}

{% block title %}Metadata -  {{ cls.name }} - Puls{% endblock %}

{% set active_page = "classes" %}

{% block heading %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for("dashboard") }}">Admin</a></li>
        <li><a href="{{ url_for("manage_classes") }}">Classes</a></li>
        <li><a href="{{ url_for("edit_class", id=cls.id) }}">{{ cls.name }}</a></li>
        <li class="active">Metadata</li>
    </ol>

    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{{ url_for("edit_class", id=cls.id) }}">
            General
        </a></li>
        <li class="active"><a>
            Metadata
        </a></li>
        <li class="danger"><a href="{{ url_for("add_class_meta", id=cls.id) }}">
            <i class="glyphicon-pro glyphicon-pro-circle-plus"></i>&nbsp;
            New meta entry
        </a></li>
    </ul>
    <br/>
{% endblock %}

{% block contents %}
    <div class="table-responsive">
        <table class="table table-hover table-actions">
            <tr>
                <th>Name</th>
                <th>Unit</th>
                <th>Factor</th>
                <th>Exponent</th>
                <th class="actions">Actions</th>
            </tr>
            {% for item in cls.metadata %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.unit }}</a></td>
                    <td>{{ item.factor|round(2) }}</td>
                    <td>{{ item.exponent|round(2) }}</td>
                    <td class="actions">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-success"
                               href="{{ url_for("edit_class_meta", id=cls.id,
                                                name=item.name) }}">
                                <i class="glyphicon-pro glyphicon-pro-edit"></i>&nbsp;
                                Edit
                            </a>
                            <a class="btn btn-danger confirm"
                               href="{{ url_for("delete_class_meta", id=cls.id,
                                                name=item.name) }}"
                               data-title="Confirm delete"
                               data-content="Are you sure you wish to delete this meta entry? This action can not be undone!"
                            >
                                <i class="glyphicon-pro glyphicon-pro-remove-2"></i>&nbsp;
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr class="warning">
                    <td colspan="5">
                        No meta entries have been defined for this class.
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}