{% extends "app.html" %}

{% block title %}
    My profile - MoarCofy
{% endblock %}

{% block heading %}
    <div class="col-xs-12">
        <h1>
            My profile
            <button class="pull-right btn btn-success btn-sm share-btn"
                    data-toggle="modal"
                    data-target="#share"
            >
                <i class="glyphicon glyphicon-share"></i>&nbsp;
                Share public profile
            </button>
        </h1>
    </div>
{% endblock %}

{% block contents %}
    <div class="modal fade"
         id="share"
         tabindex="-1"
         role="dialog"
         aria-labelledby="share-title"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="share-title">Share public profile</h4>
                </div>
                <div class="modal-body">
                    <p>To share your public profile with other people, give them the following link:</p>
                    <code>
                        <a href="{{ url_for("public_user", id=user.id|string) }}"
                           target="_blank"
                        >
                            {{ url_for("public_user", id=user.id|string, _external=True) }}
                        </a>
                    </code>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal"
                  role="form"
                  method="post" 
                  action="{{ url_for("user_home") }}"
                  enctype="multipart/form-data"
            >
                <div class="form-group
                            {% if form.name.errors %} has-error{% endif %}">
                    <label for="name"
                           class="col-sm-4 col-md-3 col-lg-2 control-label">Name:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               placeholder="Enter your name here"
                               required="required"
                               value="{{ form.name.data or "" }}"/>
                        {% for error in form.name.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group
                            {% if form.photo.errors %} has-error{% endif %}">
                    <label for="photo"
                           class="col-sm-4 col-md-3 col-lg-2 control-label"
                    >
                        Profile photo:
                    </label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <div class="thumbnail thumbnail-form">
                            <img class="img-responsive"
                                 alt="{{ user.name }}"
                                 src="{{ user.avatar_url }}"
                            />
                        </div><br/>
                        <input type="file"
                               class="form-control"
                               id="photo"
                               name="photo"
                               placeholder="Choose the photo you want to upload"
                        />
                        {% for error in form.photo.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group
                            {% if form.description.errors %} has-error{% endif %}">
                    <label for="description"
                           class="col-sm-4 col-md-3 col-lg-2 control-label">About yourself:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <textarea class="form-control"
                                  id="description"
                                  name="description"
                                  placeholder="Tell us something about yourself"
                        >{{ form.description.data or "" }}</textarea>
                        {% for error in form.description.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9 col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;
                            Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}