{% extends "app.html" %}

{% block title %}
    Account settings - MoarCofy
{% endblock %}

{% block heading %}
    <div class="col-xs-12">
        <h1>Account settings</h1>
    </div>
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal"
                  role="form"
                  method="post" 
                  action="{{ url_for("account_settings") }}"
            >
                <div class="form-group
                            {% if form.old_password.errors %} has-error{% endif %}">
                    <label for="old-password"
                           class="col-sm-4 col-md-3 col-lg-2 control-label">Current password:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="password"
                               class="form-control"
                               id="old-password"
                               name="old_password"
                               placeholder="To make any changes on this page, please enter your current account password"
                               required="required"
                               value=""/>
                        {% for error in form.old_password.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group
                            {% if form.email.errors %} has-error{% endif %}">
                    <label for="email"
                           class="col-sm-4 col-md-3 col-lg-2 control-label">E-mail:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder="Enter your new e-mail address"
                               required="required"
                               value="{{ form.email.data or "" }}"/>
                        {% for error in form.email.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group
                            {% if form.password.errors %} has-error{% endif %}">
                    <label for="password"
                           class="col-sm-4 col-md-3 col-lg-2 control-label">New password:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="password"
                               class="form-control"
                               id="password"
                               name="password"
                               placeholder="Leave unchanged"
                               value=""/>
                        {% for error in form.password.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group
                            {% if form.password2.errors %} has-error{% endif %}">
                    <label for="password2"
                           class="col-sm-4 col-md-3 col-lg-2 control-label">Confirm new password:</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="password"
                               class="form-control"
                               id="password2"
                               name="password2"
                               placeholder="Leave unchanged"
                               value=""/>
                        {% for error in form.password2.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9 col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;
                            Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}